#column{
    
    flex-flow: row wrap ;
    border-style: solid;
    border-color:red;
}

header{
    position:fixed;
    width:100%;
}
#encabezado{
    
    
}
#container{
    display: flex;
    justify-content: center;
    justify-items: center;

  
}

#container{
    border-color: red;
  
}

.container-fluid{
    background-color:black
}
